* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.min-hight {
    min-height: 100vh;
    overflow-x: hidden;

}

.min-hight {
    position: relative;
    width: 100%;

}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue) !important;
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
    transition: 0.5s;
}
.navigation .sidebar-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0 !important;
}

.navigation .sidebar-list li {
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}



.navigation .sidebar-list li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;

}

.navigation .sidebar-list li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation .sidebar-list li:hover a {
    color: var(--white);

}

.navigation .sidebar-list li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

.navigation .sidebar-list li a .icon .bi {
    font-size: 1.75rem;

}

.navigation .sidebar-list li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrep;
}

.activeLink {
    background: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: var(--blue);
}

.activeLink::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: -50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    background: transparent;
    pointer-events: none;
}


.activeLink::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    bottom: -50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    background: transparent;
    pointer-events: none;
}

/* Navbar start */
.mainn {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 0;
    background: white;
    transition: 0.5s;
}

.mainn.active {
    left: 80px;
    width: calc(100% - 80px);

}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;

}

.search lable {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 15px;
    padding-left: 40px;
    outline: none;
    border: 1px solid var(--black2);

}

.search label i {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1.2em;
    opacity: 0.6;

}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:1100px) {
    .navigation {
        left: 0;
        width: 80px;

    }

    .navigation.active {
        width: 300px;
        left: 0;

    }

    .mainn {
        width: 100%;
        left: 80px;

    }

    .mainn.active {
        left: 300px;

    }

}

@media only screen and (max-width:992px) {
    .navigation {
        left: -300px;
        width: 0;
    }

    .navigation.active {
        width: 300px;
        left: 0;

    }

    .mainn {
        width: 100%;
        left: 0;

    }

    .mainn.active {
        left: 300px;

    }

}

@media only screen and (max-width:480px) {
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;

    }

    .toggle {
        z-index: 10001;

    }

    .mainn.active .toggle {
        color: var(--white);
        position: fixed;
        right: 0;
        left: initial;
    }
}